node_modules/
coverage/
dist/
/storybook-static/

/docs/.astro/
/docs/.starlight-icons/
/docs/public/playground/
/docs/src/content/docs/reference/

*.tgz

.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
